.arrow-button {
    background-color: rgb(118, 197, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    border-radius: 30px;
    gap: 5px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    span {
        background-color: white;
        border-radius: 100%;
        padding: 5px;
        color: black;
        font-size: 18px;
    }
}
