@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto");

.TopBanner-comp {
    // height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 40px 10px;
    z-index: 1;
    background-color: #ffffff;
    background: url("../../data/assets/Home-Banners/home-bg-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 17%, 91%, 0.328);
        // backdrop-filter: blur(1.1px); // Adjust the blur value as needed
        z-index: -1; // Ensure it stays behind the content
    }
    .home-container {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: space-around;
        .home-text {
            padding-top: 50px;
            width: 55%;
            padding-left: 30px;
            // background-color: #bdb40452;
            .topBanner-head-1 {
                font-size: 20px;
                font-weight: 600;
                width: 100%;
                // margin: 0px 30px;
                line-height: 60px;

                span {
                    color: green;
                    font-size: 25px;
                    font-weight: 700;
                }
            }
            btn {
                display: flex;
                margin-top: 30px;
                gap: 20px;
                .btn-11 {
                    background-color: rgb(4, 189, 53);
                    padding: 10px 30px;
                    border-radius: 20px;
                    // margin-top: 150px;
                    color: white;
                    font-weight: 500;
                }

                .btn-22 {
                    // background-color: #04bd35;
                    padding: 10px 30px;
                    border-radius: 20px;
                    // margin-top: 150px;
                    color: 04bd35;
                    font-weight: 500;
                    border: 2px solid #04bd35;
                }
            }

            .topBanner-head-2 {
                font-size: 50px;
                font-family: "lexend", sans-serif;
                font-weight: 700;
                width: 90%;
                // margin-bottom: 30px;
                line-height: 60px;

                span {
                    color: green;
                }
            }
        }

        .home-img {
            // background-color: rgba(255, 0, 0, 0.232);
            width: 45%;

            img {
                animation: float 6s ease-in-out infinite;
            }
        }
    }
}

@media (max-width: 850px) {
    .TopBanner-comp {
        position: relative;
        overflow: hidden;
        padding: 40px 10px;
        z-index: 1;
        background-color: #ffffff;
        background: url("../../data/assets/Home-Banners/home-bg-1.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.3s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: hsla(0, 17%, 91%, 0.328);
            // backdrop-filter: blur(1.1px); // Adjust the blur value as needed
            z-index: -1; // Ensure it stays behind the content
        }

        .home-container {
            display: flex;
            margin-top: 50px;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column-reverse;
            align-items: center;
            .home-text {
                padding-top: 50px;
                width: 100%;
                justify-content: center;
                padding-left: 30px;
                // background-color: #bdb40452;
                .topBanner-head-1 {
                    font-size: 20px;
                    font-weight: 600;
                    width: 100%;
                    // margin: 0px 30px;
                    line-height: 60px;

                    span {
                        color: green;
                        font-size: 25px;
                        font-weight: 700;
                    }
                }
                btn {
                    display: flex;
                    margin-top: 30px;
                    gap: 20px;
                    .btn-11 {
                        background-color: rgb(4, 189, 53);
                        padding: 10px 30px;
                        border-radius: 20px;
                        // margin-top: 150px;
                        color: white;
                        font-weight: 500;
                    }

                    .btn-22 {
                        // background-color: #04bd35;
                        padding: 10px 30px;
                        border-radius: 20px;
                        // margin-top: 150px;
                        color: 04bd35;
                        font-weight: 500;
                        border: 2px solid #04bd35;
                    }
                }

                .topBanner-head-2 {
                    font-size: 50px;
                    font-family: "lexend", sans-serif;
                    font-weight: 700;
                    width: 90%;
                    // margin-bottom: 30px;
                    line-height: 60px;

                    span {
                        color: green;
                    }
                }
            }

            .home-img {
                // background-color: rgba(255, 0, 0, 0.232);
                width: 70%;

                img {
                    animation: float 6s ease-in-out infinite;
                }
            }
        }
    }
}
//!----- Category Card -------
.category-card {
    display: flex;
    justify-content: center;
    overflow: hidden;
    // text-align: center;
    align-items: center;
    padding: 5px 40px;
    border-radius: 100px;
    // height: 200px;
    margin: 40px 0px;
    // background-color: red;

    .cat-text {
        flex: 60%;
        padding: 10px 10px;
        h1 {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
        }
    }
    .cat-img {
        // padding: 20px;
        margin: 10px;
        // margin-right: 10px;
        flex: 40%;
        display: flex;
        justify-content: center;
        text-align: center;
        max-height: 200px;
        min-height: 150px;
        align-items: flex-start;

        // margin: auto;

        // background-color: #04bd35;

        img {
            // background-color: red;
            object-fit: fill;

            width: 100%;
            height: 200px;
            // height: auto;
            filter: drop-shadow(5px 5px 5px #222);
        }
    }
}

//!------- Feature Component ------
.ftr-container {
    // background-color: rgba(232, 27, 27, 0.674);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    margin: 10px auto;
    padding: 20px 10px;

    .ftr-title {
        font-family: "Playfair Display", serif;
        font-size: 37px;
        font-weight: 900;
        text-transform: capitalize;
        font-style: italic;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        margin-top: -50px;
        margin-bottom: 10px;
    }

    .ftr-row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-right: -15px;
        margin-left: -15px;

        // background-color: aqua;

        .sub-title {
            font-family: "Playfair Display", serif;
            font-size: 18px;
            font-weight: 700;
            margin: 10px;
            text-transform: uppercase;
        }

        .block {
            text-align: center;
            display: flex;
            flex-direction: column;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            max-width: 300px;
            unicode-bidi: isolate;
            justify-content: center;
            text-align: center;
            align-items: center;
            // background-color: #f3f3f3;
            margin: 40px 10px;

            img {
                overflow-clip-margin: content-box;
                overflow: clip;
                height: 60px;
                width: 60px;
            }
        }

        .block_img {
            // background-color: green;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(1.3);

            .response_img {
                height: 500px;
                width: 400px;
                // background-color: aquamarine;
                img {
                    vertical-align: middle;
                }
            }
        }
    }
}

//!---Blog--------
// Typography

.blog-component {
    background: #8c5b5b6b;
    background: url("../../data/assets/background/blog-bg.jpg") 0 0 no-repeat;
    align-items: center;
    padding: 30px 10px;
    width: 100%;
    // height: 500px;
    background-size: cover;
    overflow: hidden;

    .blog-comp-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 30px;

        .blog-card {
            background-color: red;
            height: 450px;
            display: flex;
            flex-direction: column;
            // padding: 10px;

            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.32);
            cursor: pointer;
            position: relative;
            transform-origin: center;
            // easeOutQuart
            transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
            margin: 0 10px 0 0;

            &:last-child {
                margin: 0;
            }

            &:hover {
                transform: scale(1.05);
            }

            .blog-image {
                width: 100%;

                img {
                    object-fit: cover;
                    height: 250px;
                    width: 100%;
                }
            }
            .blog-content {
                padding: 20px;
                position: relative;

                h1 {
                    font-family: "Josefin Sans", serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    // Color change on hover for split card
                    .split:hover & {
                        color: #161616;
                    }
                }

                h2 {
                    font-weight: 500;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.5px;

                    // Color change on hover for split card
                    .split:hover & {
                        color: #161616;
                    }
                }

                h1,
                p {
                    // easeInOutSine
                    transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

                    &.copy {
                        margin: 16px 0 0 0;
                    }
                }
            }

            &.split {
                height: 100%;
                background: rgba(28, 237, 59, 0.8);

                &:before {
                    content: "";
                    width: 100%;
                    height: 0;
                    background: #f3f3f3;
                    position: absolute;
                    bottom: 0;
                    transform-origin: bottom;
                    // easeOutQuart
                    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
                }

                // Hover state for the split card
                &:hover {
                    &:before {
                        height: 200px;
                    }
                }
            }
        }
    }

    .blog-btn {
        background-color: #33ae03;
        display: flex;
        justify-content: center;
        width: 20%;
        border-radius: 40px;
        padding: 10px 15px;
        margin: auto;
        align-items: center;
        text-align: center;
        color: white;
        gap: 10px;
        font-size: 16px;
        transition: all 0.3s ease;

        h1 {
            font-weight: 700;
        }
        span {
        }

        &:hover {
            background-color: #258001;
        }
    }
}

//!------ Testimonials ----------
.testimonial-card-container {
    // background-color: rgba(175, 69, 69, 0.483);
    // height: 200px;
    // height: auto;
    background-color: #d0afafb8;
    padding: 40px 30px 38px;
    box-shadow: 0 22px 21px rgba(22, 22, 22, 5%);
    margin-top: 60px;
    margin-bottom: 45px;
    text-align: center;
    overflow: hidden;

    figure {
        height: 112px;
        width: 112px;
        border-radius: 112px;
        border: 2px solid green;
        padding: 12px;
        margin: -100px;
        margin-left: -50px;
        position: absolute;
        left: 50%;

        img {
            height: auto;
            max-width: 100%;
            border: none;
            border-radius: 0;
            box-shadow: none;
            border-radius: 112px;
            object-fit: fill;
        }
    }

    p {
        font-size: 15px;
        line-height: 1.5;
        color: #6a6a6a;
        margin: 13px 0px;
    }
    h1 {
        color: var(--dark-color);
        clear: both;
        line-height: 1.2;
        margin: 0 0 15px;
        font-weight: 700;
        font-family: lora, sans-serif;
        font-size: 20px;
        margin-bottom: 3px;
    }
}
