.blog-container {
    position: relative;
    margin: 10px;
    padding-bottom: 30px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #eee #eee #d5d5d5 #eee;
    box-shadow: 0 5px 0 rgba(200, 200, 200, 0.2);

    padding: 25px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    width: 70%;
    margin: auto;

    &::before {
        display: table;
        content: " ";
    }

    img {
        height: 300px;
        object-fit: fill;
    }

    h1 {
        font-size: 26px;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 2px;
        letter-spacing: 0.5px;
        line-height: 1.4em;
        margin-bottom: 10px;
        margin: 0.67em 0;
    }

    .blog-details {
        font-family: "Open Sans", sans-serif;
        margin-bottom: 1.1em !important;
        padding-bottom: 0.5rem;
        border-bottom: 2px #e5e5e5 solid;
        display: flex;
    

        span {
            display: inline-block;
            margin-right: 7px;
            color: #a7a7a7;
            text-transform: none;
            font-size: 16px;
            margin-bottom: -2px;
           
        }

        h2 {
            // background-color: red;

            display: inline-block;
            margin-right: 10px;
            color: #80b435;
            text-transform: none;
            font-size: 16px;
        }
    }

    p {
        margin: 0 0 1.5em 0;
        font-size: 14px;
        line-height: 1.9em;
    }

    button {
        background: #80b435;
        color: #fff;
        font-size: 14px;
        text-shadow: none;
        padding: 10px 40px 8px 40px;
        margin-top: 0px;
        font-weight: 500;
        border-radius: 999px;
        display: block;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        border: none;
        letter-spacing: 0.5px;
        display: inline-block;
    }
}
